@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');


body{
    background-color: #333;
    color: #fff;
    font-family: 'Roboto';
    justify-items: auto;/* justifica os compoentes*/
    
}

#container{
    display: flex; /* Divide o espaço igualmente entre os componentes*/
    flex-wrap: wrap; /* Organiza os componentes uniformemente na tela*/
}
